* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

/* header and navigation style */

header {
    background-color: #1f2937;
}

nav {
    display: flex;
    padding: 2em 0 10em 0;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

.logo {
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    margin-right: 2em;
    cursor: pointer;
}

li:last-of-type {
    margin-right: 0;
}


/* first section style */

.first-section {
    background-color: #1f2937;
    padding-bottom: 10em;
}

.first-section-container {
    max-width: 1200px;
    display:flex; 
    justify-content: space-between;
    margin: 0 auto;
}

.first-section-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 1em;
    font-weight: 700;
}

.first-section p {
    color: #fff;
    margin-bottom: 1.5em;
    line-height: 1.8em;
}

.cta {
    color: #fff;
    border: 2px solid #3882f6;
    display: inline-block;
    width: 200px;
    border-radius: 30px;
    background-color: #3882f6;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0.8em 0;
    cursor: pointer;
}

.first-section-right {
    width: 45%;
}

img {
    width: 100%;
}



/* second section */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 0;
}

.second-section h2 {
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 3em;
}

.second-section-list {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
}

.second-section-list-item {
    width: 22%;
    text-align: center;
}

.geometrical-form {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin:0 auto 1em auto;
}


/* third section */

.third-section {
    background-color: #e5e7eb;
    padding: 10em 0 8em 0;
}

.third-section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.quote {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 1em;
}

.third-section h3 {
    text-align: right;
    font-size: 18px;
    margin-right: 2em;
}


/* Forth sectio */

.forth-section {
    padding: 10em 0; 
}

.forth-section-card {
    max-width: 1200px;
    border-radius: 10px;
    background-color: #3882f6;
    margin: 0 auto;
    padding: 2em 8em;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.forth-section h4 {
    margin-bottom: 0.8em;
    font-size: 24px;
}

.forth-section-card-right {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.negative-cta {
    color: #fff;
    border: 2px solid #FFF;
    display: inline-block;
    width: 200px;
    border-radius: 30px;
    background-color: #3882f6;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0.8em 0;
    cursor: pointer;
}


/* Footer */ 

footer {
    background-color: #1f2937;
    padding: 3em; 
    text-align: center;
    color: #fff;
}
